node_modules
.dist
.env
.env.*
.DS_Store
dist
.vite
.wrangler
wrangler.toml.tmp
_site

# iOS Example
examples/ios/.build
examples/ios/.swiftpm

# Android Example
examples/android/.gradle
examples/android/app/build
examples/android/build
examples/android/local.properties
